{% extends "::base.html.twig" %}

{% block title %} Войти на сайт {% endblock %}

{% block body %}
<h3> SiteBlank login page </h3>
    {# блок ошибки #}
    {% if errors %}
        {#<div> {{ error.messageKey|trans(error.messageData, 'security') }} </div>#}
    {% endif %}

    {# блок формы #}
    <form action="{{ path('login') }}" method="post">
        {# имя пользователя #}
        <label for="username">Имя пользователя:</label>
        <input type="text" id="username" name="_username" >

        <label for="password">Пароль:</label>
        <input type="password" id="password" name="_password">

        <button type="submit"> Войти </button>
    </form>
{% endblock %}
